.project-card {

    display: flex;
    width: 100%;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: space-between; /* Spaces out the image and details */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds shadow for better visibility */
    margin-bottom: 20px; /* Optional: Adds space between cards if there are multiple cards */
  }
  
  .project-image {
    width: 30%;
    height: auto; /* Maintains the aspect ratio of the image */
    object-fit: cover; /* Ensures the image covers the area without distortion */
  }
  
  .project-details {
   
    width: 70%;
    padding: 10px; /* Adds padding inside the details section */
    margin-left: 10px;
  }
  
  .project-name {
    font-size: 1.5rem;
    margin-bottom: 10px; /* Adds space below the project name */
    font-weight: bold;
  }
  
  .project-description {
    font-size: 1rem;
    margin: 20px; /* Adds space below the description */
  }
  
  .demo-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .demo-button:hover {
    background-color: #2980b9;
  }
  .project-card:hover{}
  